form a
{
    margin-left: 5px;
}


/*
React CSS Transition Group
 */

.fade-enter
{
    right: 100px;
}

.fade-enter-active
{
    right: 0;

    transition: .5s ease-in all;
}

.fade-leave
{
    right: 0;
}

.fade-leave-action
{
    right: -100px;

    transition: .5s ease-in all;
}


body .modal
{
    position: absolute;
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;

    display: block;

    height: 100px;
    padding: 10px;

    border: 1px solid red;
    outline: none;
    background: #efefef;    ;
}
